* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 12px;
  font-family: 'Helvetica', Arial, sans-serif;
  color: #b2b2b2;
}
body {
  background-color: black;
}
.parent {
display: grid;
grid-template-columns: 1fr .2fr repeat(8, 1fr) .2fr 1fr;
grid-template-rows: 1.5fr .2fr repeat(2, 1fr) .1fr repeat(5, 1fr) .2fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: gray;
}

.div1 { 
  grid-area: 3 / 3 / 5 / 11;
  background-color: red;
 }
.div2 { grid-area: 6 / 8 / 11 / 11; }
.div3 { grid-area: 6 / 3 / 11 / 5; }
.div4 { grid-area: 6 / 5 / 11 / 8; }
.div5 { grid-area: 2 / 2 / 12 / 12; }
.div6 { grid-area: 1 / 1 / 2 / 13; }
.div7 { grid-area: 3 / 1 / 11 / 2; }